agno 
stravalib
environs
pandas
Requests
numpy
fastapi
groq
yfinance
sqlalchemy
uvicorn
aiofiles
sentence-transformers
lancedb
python-dotenv
pandas
numpy
huggingface-hub
tantivy
duckdb
chromadb 
sentence-transformers
ollama
google-genai